# Ignorar carpetas __pycache__
__pycache__/
# Ignorar archivos de registro
logs/*.txt
logs/*.log
# Ignorar archivos de bytecode de Python
*.pyc
*.pyo
# Ignorar entornos virtuales
venv/
.venv/
# Ignorar archivos y carpetas específicas de IDEs
.vscode/
.idea/

Get-Content $envFilePath | ForEach-Object {
    if ($_ -notmatch '^\s*#' -and $_ -match '^\s*(\w+)\s*=\s*(.*)\s*$') {
        $name = $matches[1]
        $value = $matches[2]
        [System.Environment]::SetEnvironmentVariable($name, $value)
    }
}