# Ignorar carpetas __pycache__
__pycache__/

# Ignorar archivos de bytecode de Python
*.pyc
*.pyo

# Ignorar entornos virtuales
venv/
.venv/

# Ignorar archivos y carpetas específicas de IDEs
.vscode/
.idea/

# Ignorar archivos de registro
*.log
logs/*.txt

# Ignorar el contenido de la carpeta logs, pero mantener la carpeta
logs/*
!logs/.gitkeep

# Ignorar archivos y directorios de caché de pytest
*.pytest_cache/
.cache/

# Ignorar el contenido de la carpeta data, pero mantener la carpeta
data/*
!data/.gitkeep
